.App {
  text-align: center;
  background-color: #ddc2c7;
  background-size: 100%;
}

.Header-text {
  margin-left: 2vw;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4vh;
  color: #decede;
  opacity: 1;
}
.App-header {
  background-color: #35344c;
  position: fixed;
  min-height: 7vh;
  width: 100%;
  display: grid;
  justify-content: start;
  opacity: 0.9;
}

.List-image {
  height: auto;
  opacity: 1;
  height: 75%;
  width: 75%;
  max-width: 600px;
  /* display: block;
  width: 100%;
  height: auto;
  opacity: 1;
  transition: 0.5s ease; */
  border: 8px solid;
  border-radius: 8px;
  border-color: #ffffff;
}

.List-card {
  list-style-type: none;
  /* background-color: #35344c;
  border: white solid; */
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 0, 0);
  padding-top: 5vh;
}

.Container {
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: auto auto auto auto;
  /* margin-left: 16vw;
  margin-right: 16vw; */
}

/* .articleContainer {
  position: relative;
  width: 50%;
}

.overlay {
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #35344c;
}

.articleContainer:hover .overlay {
  opacity: 0.8;
}

.articleContainer:hover .overlayText {
  color: #decede;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
} */

.article_grid_container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content auto auto;
  margin-inline: 5%;
  padding-top: 15px;
  max-width: 1100px;
}

.grid_item_1 {
}

@media only screen and (min-width: 600px) {
  .article_grid_container {
    /* display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: min-content auto auto; */
  }
}

@media only screen and (min-width: 768px) {
  .article_grid_container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: min-content auto auto;
  }
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}
