@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");

.App {
  text-align: center;
  background-color: #ddc2c7;
  background-size: contain;
}

.Header-text {
  margin-left: 1.5vw;
  font-family: "Oswald", sans-serif;
  font-size: 4.5vh;
  color: #ffffff;
  opacity: 1;
}

.Header-text:hover {
  color: #ddc2c7;
}

.App-header {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #35344c;
  /* position: fixed; */
  opacity: 0.95;
  min-height: 7vh;
  max-height: 8vh;
  width: 100%;
}

.navbar {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #35344c;
  position: fixed;
  opacity: 100%;
  bottom: 0;
  min-height: 5vh;
  max-height: 6vh;
  width: 100%;
}

.navbar-text {
  margin-left: 2vw;
  margin-right: 2vw;
  font-family: "Oswald", sans-serif;
  font-size: 3vh;
  color: #ffffff;
  opacity: 1;
}

.navbar-text:hover {
  color: #ddc2c7;
}

.navbar-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 10px;
}

.loading-layout {
  width: 100vw;
  height: 100vh;
  padding-top: 40vh;
  /* padding-bottom: 80%; */
}

.loading-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-icon {
  width: 1%;
}

.search-container {
  margin-right: 2vw;
}

.article-home {
  padding-top: 3.5vh;
  padding-bottom: 8vh;
  margin-left: 2vw;
  margin-right: 2vw;
}

.image-link {
  position: relative;
}

.image-link:hover {
  opacity: 0.8;
}

.card-header {
  display: flex;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 3%;
}

.like-dislike-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 1%;
  margin-right: 1%;
}

.icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 1%;
  margin-right: 1%;
  padding-top: 2%;
}

.card-container {
  min-width: 800px;
}

.Container {
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: auto auto auto auto;
  /* margin-left: 16vw;
  margin-right: 16vw; */
}

/* @media only screen and (min-width: 600px) {
  .article_grid_container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: min-content auto auto;
  }
}

@media only screen and (min-width: 768px) {
  .article_grid_container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: min-content auto auto;
  }
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
} */

.mainContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: space-evenly;
}

.input[type="comments"] {
  width: 40px;
}

.button {
  background-color: #ffffff;
  border: none;
  text-align: center;
  font-family: "Oswald", sans-serif;
  color: #35344c;
  transition-duration: 0.4s;
  cursor: pointer;
  margin: 5px;
}

.user-select {
  margin-left: 13.5%;
  margin-right: 10%;
  padding-bottom: 20%;
}

.user-avatar {
  transform: scale(0.5);
}

.user-avatar:hover {
  opacity: 0.9;
  cursor: pointer;
}
